.modal {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.rename_modal {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal_content {
    background: #fff;
    border-radius: 28px;
    width: 310px;
    padding: 24px;
    display: flex;
    flex-direction: column;
}
.rename_modal_content {
    background: #fff;
    border-radius: 28px;
    width: 500px;
    padding: 24px;
    display: flex;
    flex-direction: column;
}
.header {
    font-family: "Roboto";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
    color: #1C1B1F;
    margin-bottom: 16px;
}
.text {
    color: rgba(28, 27, 31, 0.38);
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.25px;
    margin-bottom: 20px;
}
.rename_input {
    color: rgba(28, 27, 31, 0.38);
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.5px;
    margin: 20px 0px;
    width: 452px;
    height: 60px;
    padding: 8px 16px;
    border: none;
    border-bottom: 2px solid rgba(28, 27, 31, 0.38);
}
.btns_box {
    display: flex;
    justify-content: flex-end;
}
.rename_btns_box {
    display: flex;
    justify-content: flex-end;
    width: 452px;
    height: 40px;
}
.cancel {
    margin: 0px 10px;
    color: #5946D2;
    background-color: #FFFFFF;
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.1px;
    border: none;
    width: 68px;
    height: 40px;
    padding: 10px 12px;
    border-radius: 20px;

}
.sign_out {
    border-radius: 20px;
    background: #F85977;
    color: #FFFFFF;
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.1px;
    border: none;
    width: 103px;
    height: 40px;
    padding: 10px 24px;
}

.cancel {
    margin: 0px 10px;
    color: #5946D2;
    background-color: #FFFFFF;
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.1px;
    border: none;
    width: 68px;
    height: 40px;
    padding: 10px 12px;
    border-radius: 20px;
}
.rename {
    border-radius: 20px;
    background: #5946D2;
    color: #FFFFFF;
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.1px;
    border: none;
    width: 103px;
    height: 40px;
    padding: 10px 24px;
}
.create {
    border-radius: 20px;
    background: url(../../images/whitePlusIcon.svg) no-repeat center left 16px, #5946D2;
    color: #FFFFFF;
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.1px;
    border: none;
    width: 108px;
    height: 40px;
    padding: 10px 24px 10px 42px;
}
.add {
    border-radius: 20px;
    background: url(../../images/whitePlusIcon.svg) no-repeat center left 16px, #5946D2;
    color: #FFFFFF;
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.1px;
    border: none;
    width: 92px;
    height: 40px;
    padding: 10px 24px 10px 42px;
}
.cancel:hover {
    background: #E5DEFF;
    color: #5946D2;
}