.settings_box {
    display: flex;
    padding: 10px 20px 24px 20px;
    flex-direction: column;
}
.settings_header {
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.1px;
    color: #5946D2;
    margin-bottom: 12px;
}
.radio_group_box {
    margin-bottom: 20px;
}
.settings_subheader {
    font-family: "Roboto";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.4px;
    width: 350px;
    margin-bottom: 5px;
}
.radio_btns_wrapper {
    display: flex;
}
.divider {
    margin: auto;
    color: rgba(28, 27, 31, 0.12);
    height: 1px;
}
.about {
    padding-top: 10px;
}
.about_text {
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.1px;
    color: #5946D2;
    margin: 2px 0px 12px 0px;
}
.version {
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    color: #1C1B1F;

}
.version_number {
    color: #5946D2;
    margin-left: 12px;

}


