.lists_wrapper {
    width: 240px;
    margin-bottom: 5px;
    min-height: 608px;
}
.list {
    width: 240px;
    height: 44px;
    padding: 8px 8px 8px 48px;
    margin-bottom: 5px;
    border: none;
    background: url(../../images/listIcon.svg) no-repeat center left, url(../../images/arrowIcon.svg) no-repeat center right 8px;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: 0.5px;
    text-align: start;
}
.active_list {
    width: 240px;
    height: 44px;
    padding: 8px 8px 8px 48px;
    margin-top: 5px;
    border: none;
    background: url(../../images/listIcon.svg) no-repeat center left, url(../../images/arrowIcon.svg) no-repeat center right 8px, rgba(89, 70, 210, 0.08);
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: 0.5px;
    text-align: start;
}
