.input {
    width: 240px;
    height: 60px;
    background: url(../../images/searchIcon.svg) no-repeat center left 16px, rgba(28, 27, 31, 0.08);
    padding: 8px 16px 8px 48px;
    border: none;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: 0.5px;
    color:  rgba(28, 27, 31, 0.38);
}
.line {
    width: 240px;
    border: 1px solid rgba(28, 27, 31, 0.38);
    height: 2px;
}
.important_filter_wrapper {
    width: 240px;
    margin-bottom: 5px;
}
.important {
    width: 240px;
    height: 44px;
    padding: 8px 8px 8px 48px;
    margin-bottom: 5px;
    border: none;
    background: url(../../images/starIcon.svg) no-repeat center left 8px, url(../../images/arrowIcon.svg) no-repeat center right 8px;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: 0.5px;
    text-align: start;
}
.tasks {
    width: 240px;
    height: 44px;
    padding: 8px 8px 8px 48px;
    border: none;
    background: url(../../images/houseIcon.svg) no-repeat center left 8px, url(../../images/arrowIcon.svg) no-repeat center right 8px;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: 0.5px;
    text-align: start;
}
.divider {
    border: 1px solid rgba(28, 27, 31, 0.12);
    margin-top: 9px;
    margin-bottom: 10px;
}
.new_list {
    width: 240px;
    height: 44px;
    padding: 8px 8px 8px 38px;
    border: none;
    background: url(../../images/plusIcon.svg) no-repeat center left 12px;
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.1px;
    text-align: start;
    color: #5946D2;
    margin-top: 20px;
}