.container {
    display: block;
    position: relative;
    margin-right: 5px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.radio_input { 
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 32px;
    width: 74px;
}
.mark_label {
    top: 0;
    left: 0;
    height: 32px;
    display: flex;
    border: 1px solid #79747E;
    color: #A5A0AC;
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.1px;
    border-radius: 8px;
    padding: 6px 8px;
}
.container:hover .radio_input ~ .mark_label {
    background-color: #1C1B1F14;
}
.container .radio_input:checked ~ .mark_label {
    background-color: #E5DFF9;
    color: #160067;
    border: 1px solid #E5DFF9;
}
.notice {
    font-family: "Roboto";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.4px;
    color: #1C1B1F61;
    margin-top: 5px;
}
.mark_label_text {
    padding: 0px 8px;
}